$couleur1: rgb(42,134,215);
$couleur2: rgb(33,102,163);
$couleurfoncegris: rgb(43,66,87);
$couleurfonce: rgb(17,57,87);
$couleurclair: rgb(111,169,221);
$background: rgb(255,255,255);
$couleurtable: rgb(235,255,255);
$navlink: rgba(255,255,255, 0.8);
$navlinkhover : rgba(255,255,255, 1);